body{
	background-color: #ececf0;
}
.App {
	
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 90px;
  padding: 20px;
  color: white;
}
.Layout-container {
  background-image: url('./images/landing_background_alpha_center.png');
	background-size: cover;
	height: 783px;
	position:absolute;
	width: 1000px;
	z-index: 5;
}

/*NEWS FEED*/
.News-feed{
	height: 90vh;
	padding-right:17px;
	position:absolute;
	overflow-y: scroll;
	z-index: 10;
}
.News-feed::-webkit-scrollbar { 
    display: none; 
}
.News-feed-item{
	background-size: 100% 100%;
	width: 500px;
	position:relative;
}
.News-feed-item-blank{
	height: 250px;
	background-image: url('./images/update_background.jpg');
}
.News-feed-item-header{
	height: 150px;
	background-image: url('./images/heading_background.jpg');
}
/*WALLET*/
.Wallet-icon-container{
	background-color: #f7f7f7;
	height: 50px;
	position: absolute;
	right: 0;
	top: 100px;
	width: 50px;
}
.Wallet-icon-container:hover{
	cursor: pointer;
}
.Wallet-icon{
	height: 40px;
	padding:5px;
	width: 40px;
}
.Wallet-notification{
	background-color: red;
	border-radius: 6px;
	color: white;
	font-size: 12px;
	height: 12px;
	line-height: 12px;
	position:absolute;
	top: -6px;
	left: -6px;
	text-align:center;
	width: 12px;
}
/*WIDGET*/
.Animate-more-info-button{
	animation: button-double-nudge 3s infinite linear;
	height: 50px;
	width: 50px;
	z-index: 29;
}
@keyframes button-double-nudge{
	0%{right: 40px;}
	10%{right: 30px;}
	20%{right: 40px;}
	30%{right: 30px;}
	40%{right: 40px;}
	100%{right: 40px;}
}
#animateBackground{
	background-image: url('./images/hotel_tonight_ad_background.png');
	background-size: 100% 100%;
	animation: barber-poll-effect 3s infinite linear;
}
@keyframes barber-poll-effect{
	from{
		background-position:0px;
	}
	to{
		background-position:-150px;
	}
}
.Widget-container{
  position: relative;
}
.Center-block{
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
div[class^="Widget-layer"]{
	height:250px;
	width: 500px;
	position:absolute;
}
div[class^="Widget-layer"] img{
	height:251px;
	width: 501px;
}
.Widget-layer-1{
	z-index: 25;
}
.Widget-layer-2{
	z-index: 20;
}
.Widget-layer-3{
	z-index: 15;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
